APP_ENV=development

# DB credentials (these can be overridden at runtime)
DATABASE_USERNAME=timetracker_development
DATABASE_PASSWORD=so_wow_much_secure
DATABASE_DB_NAME=timetracker_development
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_POOL=5

CAS_DATA_DIRECTORY=/app/tmp
DEVISE_CAS_AUTH_URL=db

# Authentication type: db, cas, saml, or headers
DEVISE_AUTH_TYPE=db

DEVISE_SAML_BASE_URL=http://127.0.0.1:6868
DEVISE_SAML_ASSERTION_CONSUMER_SERVICE_URL=
DEVISE_SAML_SP_ENTITY_ID=
DEVISE_SAML_IDP_ENTITY_ID=
DEVISE_SAML_IDP_SSO_SERVICE_URL=
DEVISE_SAML_IDP_SLO_SERVICE_URL=
DEVISE_SAML_SIGN_OUT_SUCCESS_URL=
DEVISE_SAML_IDP_CERT=
DEVISE_SAML_IDP_CERT_FINGERPRINT=
DEVISE_SAML_IDP_CERT_FINGERPRINT_ALGORITHM=http://www.w3.org/2001/04/xmlenc#sha256
DEVISE_SAML_DEFAULT_USER_KEY=email
DEVISE_SAML_EMAIL_ATTRIBUTE=email,mail
DEVISE_SAML_FIRST_NAME_ATTRIBUTE=first_name,givenName
DEVISE_SAML_LAST_NAME_ATTRIBUTE=last_name,sn
DEVISE_SAML_DISPLAY_NAME_ATTRIBUTE=displayName,name
DEVISE_SAML_MEMBER_OF_ATTRIBUTE=memberOf
DEVISE_SAML_REQUIRED_MEMBER_OF=
DEVISE_SAML_USE_SUBJECT=false
DEVISE_SAML_VALIDATE_IN_RESPONSE_TO=false
DEVISE_SAML_ALLOWED_CLOCK_DRIFT=0

# SMTP settings
SMTP_ADDRESS=
SMTP_PORT=
SMTP_DOMAIN=
SMTP_USERNAME=
SMTP_PASSWORD=

# Rails specific
RAILS_ENV=development
SECRET_KEY_BASE=d8b1bd64eca5e6bddd8f4c1f1fc4b0e869890868f7de5954c1aa4a0321ac00300a506a1bbb44bd2702a63dc006e8d96c1a20a86663bf0a76ba2f2e344ce31532
RAILS_DISABLE_SSL=true
RAILS_LOG_LEVEL=error
CORS_ALLOWED_ORIGINS=http://127.0.0.1:6767,http://127.0.0.1:6868
FRONT_URL=http://127.0.0.1:6868
RAILS_SERVE_STATIC_FILES=true

# Frontend settings
VITE_ENVIRONMENT=development
VITE_API_URL=http://127.0.0.1:6868
VITE_AUTH_TYPE=db
