/* Change default max width from 800px to better suit max 150 line width in */
.wy-nav-content {
  max-width: 1200px !important;
}

.wy-side-nav-search .logo {
  width: 80% !important;
}

.wy-side-nav-search {
  background-color: #ffffff;
}

.wy-nav-content-wrap .toctree-wrapper {
  display: none;
}

.rst-content img {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  display: block;
  height: auto !important;
  margin: 3rem auto !important;
  max-width: 100%;
  width: auto !important;
}

h2 {
  color: #ffffff !important;
  background-color: #890309 !important;
  display: inline-flex;
  padding: 0.5rem 1rem;
}

h2 a {
  color: #ffffff !important;
}

h2 .headerlink {
  color: #ffffff !important;
}

.headerlink {
  opacity: 1 !important;
  vertical-align: middle;
  align-self: center;
}
