:root {
  --bulma-dropdown-divider-background-color: hsl(0, 0%, 93%);
}

.button.is-success {
  background-color: var(--blue-stronger-color);
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--blue-stronger-color) !important;
  }
}

.button.is-info {
  background-color: var(--grey-color);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--grey-color) !important;
  }
}

.tabs.is-toggle li.is-active a {
  background-color: var(--bulma-link);
}

.tabs {
  ul {
    margin: 0;
  }
}
