:root {
  --bulma-dropdown-divider-background-color: hsl(0, 0%, 93%);
}

.button.is-success {
  background-color: var(--blue-stronger-color);
  color: #fff;

  &:hover {
    background-color: var(--blue-lighter-color) !important;
  }
}

.button.is-info {
  background-color: var(--grey-color);

  &:hover {
    background-color: var(--grey-color) !important;
  }
}

.tabs.is-toggle li.is-active a {
  background-color: var(--bulma-link);
}

.tabs {
  ul {
    margin: 0;
  }
}

.notification {
  padding: 0.5rem 1rem;
}
