.no-select {
  user-select: none;
}

.no-break {
  word-break: normal;
  white-space: nowrap;
}

/* Hide a dropdown when it's tries to adjust its position on scroll */
.v-popper__popper--arrow-overflow {
  display: none;
}

.autocomplete,
.mx-datepicker-popup {
  z-index: 10004;
}

