.no-select {
  user-select: none;
}

.no-break {
  word-break: normal;
  white-space: nowrap;
}

button,
a.button {
  img.tracker-icon {
    padding: 0;
    margin-right: 0.2rem;
  }

  > * {
    height: 100%;
  }
}
