.no-select {
  user-select: none;
}

.no-break {
  word-break: normal;
  white-space: nowrap;
}

button,
a.button {
  img.tracker-icon {
    padding: 0;
    margin-right: 0.2rem;
  }

  > * {
    height: 100%;
  }
}

h1, h2, h3, h4, h5, h6,
label {
  user-select: none;
}

/* Hide a dropdown when it's tries to adjust its position on scroll */
.v-popper__popper--arrow-overflow {
  display: none;
}
