$variables: (
  main-color: #890309,
  main-color-lighter: lighten(#890309, 65%),
  secondary-color: #8996A0,
  super-light-color: #f3f3f1,
  greyish-color: #f2eeed,
  blue-stronger-color: #4e88c7,
  purple-color: #946eb7,
  grey-color: #93a1ad,
  project-color: #390099,
  category-color: #9e0059,
  email-color: #ff5400,
  description-color: #457b9d,
  main-font-family: "'Poppins', sans-serif",
  bulma-link: 'hsl(207, 61%, 53%)'
);

:root {
  @each $name, $value in $variables {
    --#{$name}: #{$value};
  }
}
