$variables: (
  main-color: #890309,
  main-color-lighter: lighten(#890309, 65%),
  secondary-color: #8996A0,
  super-light-color: #f3f3f1,
  greyish-color: #f2eeed,
  success-color: rgb(54, 122, 48),
  main-font-family: "'Poppins', sans-serif"
);

:root {
  @each $name, $value in $variables {
    --#{$name}: #{$value};
  }
}
