<% unless flash.empty? %>
  <div class="flash notification is-info">
    <button class="delete"></button>

    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end -%>
  </div>
<% end %>

<% unless session["#{@session_user&.id}_active_users"].blank? %>
  <div class="flash notification is-warning">
    <div class="has-text-weight-bold">You are viewing the timesheets of</div>
    <span class="active_users"><%= h session["#{@session_user.id}_active_users"].map { |u| User.where(id: u).first&.username }.compact.join(', ') %></span>
  </div>
<% end %>
