<% unless flash.empty? %>
  <div class="flash notification is-info">
    <button class="delete"></button>

    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end -%>
  </div>
<% end %>

<% unless session["#{@session_user&.id}_active_users"].blank? %>
  <div class="flash notification is-info">
    You are viewing the timesheets of <span class="active_users"><%= h session["#{@session_user.id}_active_users"].collect{|u|  User.find(u).username}.join(', ') %></span>
  </div>
<% end %>
