<div class="select">
  <select id="selected-month">
    <option value="all" <% if current_month == 'all' %>selected="selected"<% end %>>All</option>
    <% months.each do |month| %>
      <option value="<%= month['month'] %>" <% if current_month == month['month'] %>selected="selected"<% end %>>
        <%= month['month'] %>
      </option>
    <% end %>
  </select>
</div>

<div class="columns">
  <div class="column">
    <button class="button mt-2" id="month-change">Change</button>
  </div>
  <div class="column">
    <button class="button mt-2" id="month-csv">CSV</button>
  </div>
</div>
