<p>Hello!</p>
<br>
<p>You've been invited by <%= @sender_email %> to join "<%= @timesheet_name %>". Please use the following code to join: <a href="<%= @invitation_link %>" target="_blank"><%= @invitation_link %></a></p>
<br>
<p>Thank you!</p>
