<p>Hi,</p>
<p>You've been invited by <%= @sender_email %> to join "<%= @timesheet_name %>".</p>
<p>Please use the following link to join: <a href="<%= @invitation_link %>" target="_blank"><%= @invitation_link %></a>.</p>
<p>Thank you!</p>
