<div class="container is-fluid">
  <div class="columns is-desktop">
    <div class="column is-full">
      <div class="box">
        <div id="entries">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
