<div class="container is-fluid">
  <div class="columns is-desktop">
    <div class="column sidebar is-full-mobile is-full-tablet is-one-third-desktop is-one-quarter-widescreen">
      <div class="box">
        <h5 class="has-text-weight-bold is-size-5 sidebar-header">Select month</h5>
        <ul id="months"></ul>
        <h5 class="has-text-weight-bold is-size-5 mt-2 sidebar-header">Daily totals</h5>
        <ul id="days">
        </ul>
        <div id="popular">
          <h5 class="has-text-weight-bold is-size-5 sidebar-header">Most popular</h5>
          <h3 class="has-text-weight-bold">Categories</h3>
          <ul id="popular_categories">
          </ul>
          <h3 class="has-text-weight-bold">Projects</h3>
          <ul id="popular_projects">
          </ul>
        </div>
      </div>
    </div>

    <div class="column is-full-mobile is-full-tablet is-two-thirds-desktop is-three-quarters-widescreen">
      <div class="box">
        <%= render '/shared/messages' %>
        <div id="entries">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
